body {
    font-size: 1.2vw;
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a {
    color: black;
}
.fullBody {
    height: 100vh;
    width: 100vw;
    /*background-image: radial-gradient(circle, rgb(192, 21, 50) 25%, rgb(189, 13, 121), rgb(145, 11, 138),rgb(41, 4, 47) );
    */
    display: flex;
    flex-direction: row;
    position: relative;
}
.ground {
    position: absolute;
    bottom: 0px;
    width:1100px;
    left: 0px;

    z-index: 2;
    
}

.popBox {
    top: -50px;
    left:60px;
    position: absolute;
    display: none; 
    width: 250px;
    border-radius: 5px;
    border-color: rgb(156, 126, 81);
    border-width: 3px;
    border-style: solid;
    background-color: blanchedalmond;
    flex-direction: column;
    transition: display 2s;
}
.popBoxTitle {
    font-size: 1.5vw;
    height: 25px;
    background-color: rgb(156, 126, 81);
    padding: 2px
}
.popBoxText {
    flex: 1;
    padding: 2px
}
.levelOne {
    height:50px;
    width:50px;
    background-color: rgba(195, 9, 6, 0.5);
    position: absolute;
    top:0;
    border-radius: 50px;
    border-width: 0px;
    border-style: solid;
    border-color: none;
    transition: background-color 0.5s;
    z-index: 100;
}
.levelOne:hover > .popBox{
    display: flex;
} 
.levelOne:hover {
    background-color: rgba(195, 9, 6, 0.726);
}

.sand {
    z-index: 24;
    position: absolute;
    border-radius: 2px;
    border-width: 2px;
    width: 1px;
    height: 1px;
    border-color: rgb(217, 148, 63);
    border-style: solid;
    animation: sandBlow 1s infinite linear;
}
.handbook{
    border-radius: 10px;
    position: absolute;
        top: 20px;
        left: 1000px;
        z-index: 9999;
}
@keyframes sandBlow {
    0% {
        transform: translate(0,0);
    }
    100% {
       transform: translate(100vw,0);
    }
    
}
